##### 1. Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

In [ ]:
import pandas as pd

roll_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
names = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
genders = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]

data = {
    "Roll Number": roll_numbers,
    "Name": names,
    "Gender": genders,
    "Math": marks1,
    "Science": marks2,
    "English": marks3
}

df = pd.DataFrame(data)

print(df)

##### 2. Create a new column with total marks

In [7]:
roll_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
gender = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]

data = {
    "Roll Number": roll_number,
    "Name": name,
    "Gender": gender,
    "Marks1": marks1,
    "Marks2": marks2,
    "Marks3": marks3
}

df = pd.DataFrame(data)

df['Total Marks'] = df[['Marks1', 'Marks2', 'Marks3']].sum(axis=1)

print(df)

   Roll Number    Name Gender  Marks1  Marks2  Marks3  Total Marks
0            1   Priya      F      70      82      65          217
1            2   Rohan      M      85      70      78          233
2            3   Akash      M      90      81      83          254
3            4   Kiara      F      60      55      73          188
4            5  Aditya      M      88      72      75          235
5            6  Ananya      F      99      87      90          276
6            7    Yash      M      75      68      71          214
7            8    Riya      F      82      77      69          228
8            9    Siya      F      78      84      82          244
9           10   Arjun      M      92      80      81          253

##### 3. Find the lowest marks in Marks1

In [8]:
roll_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
gender = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]

data = {
    "Roll Number": roll_number,
    "Name": name,
    "Gender": gender,
    "Marks1": marks1,
    "Marks2": marks2,
    "Marks3": marks3
}

df = pd.DataFrame(data)

lowest_marks1_index = df['Marks1'].idxmin()

lowest_marks1_student = df.loc[lowest_marks1_index]

print(f"Student with the lowest marks in Marks1:")
print(f"Name: {lowest_marks1_student['Name']}")
print(f"Marks1: {lowest_marks1_student['Marks1']}")

Student with the lowest marks in Marks1:
Name: Kiara
Marks1: 60

##### 4. Find the Highest marks in Marks2

In [9]:
roll_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
gender = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]


data = {
    "Roll Number": roll_number,
    "Name": name,
    "Gender": gender,
    "Marks1": marks1,
    "Marks2": marks2,
    "Marks3": marks3
}

df = pd.DataFrame(data)

highest_marks2_student = df[df['Marks2'] == df['Marks2'].max()]

print("Student with the highest marks in Marks2:")
print(highest_marks2_student)

Student with the highest marks in Marks2:
   Roll Number    Name Gender  Marks1  Marks2  Marks3
5            6  Ananya      F      99      87      90

##### 5. Find the average marks in Marks3

In [11]:
roll_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
gender = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]

data = {
    "Roll Number": roll_number,
    "Name": name,
    "Gender": gender,
    "Marks1": marks1,
    "Marks2": marks2,
    "Marks3": marks3
}

df = pd.DataFrame(data)

average_marks3 = df['Marks3'].mean()

print("Average marks in Marks3:", average_marks3)

Average marks in Marks3: 76.7

##### 6. Find student name with highest average

In [12]:
roll_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
gender = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]


data = {
    "Roll Number": roll_number,
    "Name": name,
    "Gender": gender,
    "Marks1": marks1,
    "Marks2": marks2,
    "Marks3": marks3
}

df = pd.DataFrame(data)

df['Total Marks'] = df[['Marks1', 'Marks2', 'Marks3']].sum(axis=1)

highest_average_student = df[df['Total Marks'] == df['Total Marks'].max()]['Name'].values[0]

print("Student name with highest average:", highest_average_student)

Student name with highest average: Ananya

##### 7. Find how many students failed in Marks2 (<40)

In [13]:
roll_number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
name = ["Priya", "Rohan", "Akash", "Kiara", "Aditya", "Ananya", "Yash", "Riya", "Siya", "Arjun"]
gender = ["F", "M", "M", "F", "M", "F", "M", "F", "F", "M"]
marks1 = [70, 85, 90, 60, 88, 99, 75, 82, 78, 92]
marks2 = [82, 70, 81, 55, 72, 87, 68, 77, 84, 80]
marks3 = [65, 78, 83, 73, 75, 90, 71, 69, 82, 81]

data = {
    "Roll Number": roll_number,
    "Name": name,
    "Gender": gender,
    "Marks1": marks1,
    "Marks2": marks2,
    "Marks3": marks3
}

df = pd.DataFrame(data)

failed_in_marks2 = df[df['Marks2'] < 40].shape[0]

print("Number of students failed in Marks2:", failed_in_marks2)

Number of students failed in Marks2: 0